<div class="w3l-homeblock1 py-5">
    <div class="container pt-lg-5 pt-md-4">
        <!-- block -->
        <div class="row">
            <div class="col-lg-9">
                <h3 class="section-title-left">Featured posts </h3>
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6 item">
                        {{#each blog}}
                        <div class="card">
                            <div class="card-header p-0 position-relative">
                                <a href="blog/{{this.id}}">
                                    <img class="card-img-bottom d-block radius-image" src="{{this.image}}"
                                        alt="Card image cap">
                                </a>
                            </div>
                            <div class="card-body p-0 blog-details">
                                <a href="blog/{{this.id}}" class="blog-desc">{{this.title}}
                                </a>
                                <p>{{this.description}}</p>
                                <div class="author align-items-center mt-3 mb-1">
                                    <a href="blog/{{this.id}}">{{this.author}}</a> in <a href="blog/{{this.id}}">Design</a>
                                </div>
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> {{this.createdDate}} </span>
                                    </li>
                                    <li class="meta-item blog-students">
                                        <span class="meta-value"> 6min read</span>
                                    </li>
                                </ul>
                                <a href="#featuredposts" class="btn btn-style btn-outline mt-4">All featured
                                    posts</a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //block -->